[submodule "eth/32_hours_demo/foundry-simple-storage-f23/lib/forge-std"]
	path = eth/32_hours_demo/foundry-simple-storage-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth/32_hours_demo/foundry-f23/foundry-simple-storage-f23/lib/chainlink-brownie-contracts"]
	path = eth/32_hours_demo/foundry-f23/foundry-simple-storage-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "eth/32_hours_demo/foundry-f23/foundry-lottery-f23/lib/forge-std"]
	path = eth/32_hours_demo/foundry-f23/foundry-lottery-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth/32_hours_demo/foundry-f23/foundry-lottery-f23/lib/chainlink-brownie-contracts"]
	path = eth/32_hours_demo/foundry-f23/foundry-lottery-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "eth/32_hours_demo/foundry-f23/foundry-smart-contract-lottery-f23/lib/openzeppelin-contracts"]
	path = eth/32_hours_demo/foundry-f23/foundry-smart-contract-lottery-f23/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "eth/32_hours_demo/foundry-f23/foundry-smart-contract-lottery-f23/lib/openzeppelin-foundry-upgrades"]
	path = eth/32_hours_demo/foundry-f23/foundry-smart-contract-lottery-f23/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "eth/32_hours_demo/foundry-f23/foundry-smart-contract-lottery-f23/lib/openzeppelin-contracts-upgradeable"]
	path = eth/32_hours_demo/foundry-f23/foundry-smart-contract-lottery-f23/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "eth/32_hours_demo/foundry-f23/foundry-dao-f23/lib/forge-std"]
	path = eth/32_hours_demo/foundry-f23/foundry-dao-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth/32_hours_demo/foundry-f23/foundry-dao-f23/lib/openzeppelin-contracts"]
	path = eth/32_hours_demo/foundry-f23/foundry-dao-f23/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "eth/32_hours_demo/foundry-f23/security-course/lib/forge-std"]
	path = eth/32_hours_demo/foundry-f23/security-course/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth/32_hours_demo/foundry-f23/security-course/basic-solc-project/lib/forge-std"]
	path = eth/32_hours_demo/foundry-f23/security-course/basic-solc-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth/32_hours_demo/foundry-f23/security-course/basic-solc-project/lib/openzeppelin-contracts"]
	path = eth/32_hours_demo/foundry-f23/security-course/basic-solc-project/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "alchemy/ERC20_Royalty/lib/forge-std"]
	path = alchemy/ERC20_Royalty/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "alchemy/ERC20_Royalty/lib/solmate"]
	path = alchemy/ERC20_Royalty/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "eth/32_hours_demo/foundry-f23/huff/lib/forge-std"]
	path = eth/32_hours_demo/foundry-f23/huff/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "eth/32_hours_demo/foundry-f23/huff/lib/foundry-huff"]
	path = eth/32_hours_demo/foundry-f23/huff/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "sc-exploits-minimized/lib/halmos-cheatcodes"]
	path = sc-exploits-minimized/lib/halmos-cheatcodes
	url = https://github.com/a16z/halmos-cheatcodes
[submodule "security/security-samples/lib/forge-std"]
	path = security/security-samples/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "wallet/wallet-core/lib/forge-std"]
	path = wallet/wallet-core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "defi/uniswap/clamm/lib/forge-std"]
	path = defi/uniswap/clamm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
