./eth/geth-data/**
./bin/**
**/.env
**/.vscode/

open-sources/
# vscode files
.vscode/setting.json

# all .DS_Store
**/.DS_Store

/speed-run-ethereum/
**/package-lock.json
**/.github/
**/lib/
**/yarn.lock
.vscode/
**/clamm/**
