@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/watermellon.avif");
    background-size: cover;
    font-family: "Poppins", sans-serif;
    color: #fff;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    font-size: 2rem;
}